@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.font-reset {
    font-size: 1rem;
    font-weight: 300;
}

.font-bold {
    font-weight: 700;
}

.font-semi-bold {
    font-weight: 600;
}

.font-regular {
    font-weight: 400;
}

.font-light {
    font-weight: 300;
}

.font-italic {
    font-style: italic;
}

.font-error {
    color: $error-text;
    font-weight: 700;
}

.font-warning {
    color: $warning-text;
    font-weight: 700;
}

.font-success {
    color: $success-text;
    font-weight: 700;
}