.form {
    padding: 15px;
    border-radius: 5px; 
    background-color: #e5e5e5;
    border: 1px solid transparent;
    box-shadow: 5px 5px 5px #888888;
}

.form-input-header {
    width: 100%;
    margin: 3px;
}

.form-input-textarea { 
    width: 100%;
}
