
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
}

.element-headings{
	width:200px;
	text-align: center;
}

h1{
	font-size: 3em;
}

h2{
	font-size: 2.25em;
}

h3{
	font-size: 1.75em;
}

h4{
	font-size: 1.125em;
}

h5{
	font-size: 0.75em;
}

h6{
	font-size: 0.50em;
}
