.list {
    & > li {
        padding: 10px;
    }
}

.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-inline {
    @extend .list-unstyled;

    & > li {
        display: inline-block;
        vertical-align: top;
    }
}

.list-striped {
    & > li:nth-child(odd) {
        background-color: #e5e5e5;
    }
}

.list-centered {
    display: block;
    text-align: center;
}
