.media {
    overflow: hidden;
}

.media-object {
    display: block;
}

.media-body {
    overflow: hidden;
}

.media-title {
    margin: 0 0 10px 0;
}

.media-left {
    float: left;
    margin-right: 15px;
}

.media-right {
    float: right;
    margin-left: 15px;
}
