.navigation {
    width: 100%;
    height: 60px;
    background-color: $darkColor;
    color: $lightColor;

    &.is-fixed {
        position: fixed;
        top: 0;
        left: 0;
    }
}

.navigation-logo {
    height: 100%;
    padding: 15px;

    img {
        height: 100%;
    }
}

.navigation-logo-subtext {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    margin-left: 15px;
    padding: 5px 15px;
    border-left: 2px solid $lightColor;
    font-style: italic;
    font-size: 18px;
}

.navigation-list {
    & > li {
        a {
            display: inline-block;
            padding: 20px 15px;
            color: $lightColor;
            text-decoration: none;
        }

        &:hover {
            border-bottom: 2px solid $highlightColor;
        }
    }
}
