.page-section {
    margin-bottom: 30px;
    border-top: 1px solid #BBB;

    &:first-child {
        border-top: 0;
    }
}

<<<<<<< HEAD
.page-section-demo {
    margin-left: 15px;
    margin-right: 15px;
=======
.page-sub-section {
    border-bottom: 1px solid #DDD;
    padding: 20px 0;
>>>>>>> develop
}
