/**
 * Colors
 */
$primaryColor: #445878;
$highlightColor: #92C9CF;
$accentColor: #31353D;
$darkColor: #1C1D21;
$lightColor: #EEEFF7;

$error-text: #d32323;
$warning-text: #f15c00;
$success-text: #41a700;
