h1 {
    font-size: 2em;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: 1.7em;
    font-weight: 300;
    font-style: normal;
    color: $darkblue;
}

.alternate {
    color: $gray;
}